body {
  color: #8f8f8f;
  font: 12px Tahoma, sans-serif;
  background-color: #f8f8f8;
  max-width: 960px;
  margin: auto;
  min-height: 400px;
}
p {
  margin: 20px 0;
}
.photo {
  float: left;
  max-width: 50px;
  max-height: 87px;
  margin-right: 10px;

}
.userinfo span {
  font-weight: 300;
  font-size: large;
}

.userinfo li:first-child {
  border: none;
}

.userinfo span.active {
  color: #29c5e6;
}

.userinfo a {
  color: #8f8f8f;
}
#infowrapper {
  margin-left: 300px;
}
.user {
  margin-bottom: 100px;
}
