    <div id="wrapper">
        <header>
            <a href="/"><img src="./app/whitesquare%20logo.png" alt="Whitesquare logo"></a>
        </header>
        <nav>
            <ul class="top-menu">
                <li [routerLinkActive]="['active']"><a [routerLink]="['user/1']">PROFILE</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['users']">USERS</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['user/1']">ABOUT</a></li>
            </ul>
        </nav>
        <div id="heading">
            <h1>Home</h1>
        </div>
    </div>
    <router-outlet></router-outlet>
<footer>
    <div id="footer">
        <div id="twitter"></div>
        <div id="social"></div>
        <div id="footer-logo">
            <a href="/"><img src="./app/whitesquare%20logo.png" alt="Whitesquare logo"></a>
            <p>Copyright © 2017 Whitesquare.</p>
        </div>
    </div>
</footer>
